body {
    margin: 0;
}

@font-face {
    font-family: graphikBold;
    src: url(../ASSETS/GraphikBold.otf)
}

header {
    background-image: url("./images/hulu-bg.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    height: 50vh;
}

#bundle {
    align-self: center;
    text-align: center;
}

#bundle img {
    height: 10vh;
}

#banner {
    display: flex;
}

