body {
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: graphikBold;
    src: url(../ASSETS/GraphikBold.otf)
}

header {
    background: radial-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.664)), url("../ASSETS/hulu-bg.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    height: 50vh;
}

#bundle {
    align-self: center;
    text-align: center;
}

#bundle img {
    height: 10vh;
}

#banner {
    display: flex;
    
}

#banner img {
    height: 10vh;

}
#trio-bundle {
    text-align: center;
}

nav {
    text-align: right;
    display: flex;
    height: 4vh;
    justify-content:space-between;

}
