ul {
    display: flex;
    list-style: none;
    background-color: gray;
    padding: 20px;
    margin: 0;
    justify-content: center;

}

li {
    padding: 20px
}

body {
    margin: 0
}
@media only screen and (max-width: 768px) {
ul {
    flex-direction: column;
}
}
